/* reset */
* {
	margin: 0; padding: 0; box-sizing: border-box;
}

html, body { height: 100%; }

body { font: 16px Helvetica, Arial; }

main { 
	height: 100%;
	flex-direction: row;
}
.form-container, .messages { padding: 20px; }
.form-container { 
	
	border: 6px solid #bfcfd6;
	background-color: #fd4445;
	color: white;
	

	label { display: block; margin-bottom: 0.5rem; }
}

.messages { 
	background-color: #ffffff;
	 
}

input, textarea { 
	 
	width: 100%;
	border: 2px solid #bfcfd6;
	//border-color: #bfcfd6; 
	border-radius: 4px; 
	font-size: 0.8rem; 
	padding: 0.4rem; 
	border-style: solid;
	
}

textarea { height: 135px; }

h1{
	text-align: center;
	text-transform: uppercase;
}



form {
	//background: #000;
	padding: 3px;
	margin: 12px auto;

	input[type=submit] { 
		width: 100%; 
		padding: 10px; 
		background-color:black;
		margin-top: 1rem; 
		border-radius: 8px;
		color: white;
		cursor: pointer;
		text-transform: uppercase;
		font-weight: bold;
	}
}

#messages {
	list-style-type: none; margin: 0; padding: 0;

	li { padding: 5px 10px;	}
	li:nth-child(odd) { background: #eee; }
}

// imports

@import 'modules/_message';
